$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #dcdcdc;
$text-color: #313131;

$dark-background-color: #313131;
$light-text-color: #fff;

$link-active: #83bf4f7a;
$border-color: #e5e5e5;
