.headera {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;

  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2.9em;
      margin-bottom: 0.3em;
      font-family: Manrope, sans-serif !important;
      font-weight: 200;
    }
    p.leadtext {
      font-size: 1.8em;
      margin-bottom: 1em;
      font-weight: 100;
      font-family: Manrope, sans-serif !important;
      max-width: 70%;
      margin-left: 15%;
    }
  }

  @media screen and (max-width: 767px) {
    h2 {
      font-size: 2.5em;
      margin-bottom: 0.3em;
      font-family: Manrope, sans-serif !important;
      font-weight: 200;
    }
    p.leadtext {
      font-size: 1.3em;
      margin-bottom: 1em;
      font-weight: 200;
      font-family: Manrope, sans-serif !important;
      max-width: 70%;
      margin-left: 15%;
    }
  }
}
