@import "variables";

.listblock {
  margin-top: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #ffffff;
  border-radius: 20px;
  font-family: Manrope, sans-serif !important;
  .heading {
    text-align: center;
    h2 {
      font-size: 1.8em;
      margin-bottom: 0.5em;
      font-weight: 200;
    }
    p {
      font-size: 1em;
      margin-bottom: 1em;
    }
  }

  .items {
    a {
      text-decoration: none;
      color: black;
      h3 {
        font-size: 1.2em;
        margin-bottom: -2px !important;
        font-weight: 400;
      }
      p {
        font-size: 1em;
        margin-bottom: 1em;
      }

      img {
        border-radius: 10px;
        border: 1px solid #e5e5e5;
        margin-bottom: 0.6em;
      }
    }
    a.shopnow {
      border-color: $link-active;
    }
  }
}
