.postslist {
  font-family: Manrope, sans-serif !important;

  margin-top: 2.5em;

  .postitem {
    a {
      text-decoration: none;
      color: black;

      h2 {
        font-size: 1.5em;
        margin-top: 0.6em;
        text-align: center;
        width: 70%;
        margin-left: 15%;
        height: 60px;
      }

      p {
        font-size: 0.8em;
        width: 70%;
        margin-left: 15%;
        text-align: center;
        height: 80px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }
  }
}
