
.recycledbottles{

    margin-bottom: 2em;
    font-size: 1.5em;

    img {
        rotate: 90deg;
        height: 120px;
        width: auto;
        margin-left: 30px;
    }

    h3{
        font-size: 1.6em !important;
        font-weight: 300;
        margin: 0px;
        padding: 0px;
    }

    h2 {
        font-size: 2.4em !important;
        font-weight: 700;
        margin: 0px;
        padding: 0px;
    }

    p {
        font-size: 1.6em;
        font-weight: 700;
        margin: 0px;
        padding: 0px;
    }
}