.textonly {
    padding-top: 2em;
    padding-bottom: 2em;
    h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    p{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 200;
    }


}