<section class="singleimage">
    <div class="container-fluid">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    <img src="{{ image.url }}" alt="{{ image.alt}}" srcset="{{ image.srcset}}"  class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>