<section class="twothirdsheader">
    <div class="container-fluid">
        <div class="container-xxl">
            <div class="col-12 col-md-6 offset-md-4">
                <h2>
                    {{ fields.title }}
                </h2>
            </div>
        </div>
    </div>
</section>