<section class="textonly">
    <div class="container-fluid">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    {{ fields.text}}
                </div>
            </div>
        </div>
    </div>
</section>