<section class="blackcont">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 col-md-8  d-flex flex-column justify-content-end">
                 <a href="{{ fields.link.url }}"> {{ fields.link.title }}</a>
            </div>
            <div class="col-12 col-md-4">
                <h2>{{ fields.title }}</h2>
                {{fields.text}}
        </div>
    </div>
</section>  