<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasTopLabel">Search</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="input-group">
			<input type="text" class="form-control" id="searchInput" placeholder="Search..." aria-label="Search">
		</div>
		<div id="searchResults"></div>
	</div>
</div>
