<div class="container sharecontainer">
	<div class="dropend dropshare">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="shareDropdown" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="bi bi-share"></i>
		</button>
		<ul class="dropdown-menu w-auto" aria-labelledby="shareDropdown">
			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ url_to_share }}" target="_blank" class="btn">
					<i class="bi bi-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/?url={{ url_to_share }}" target="_blank" class="btn ">

					<i class="bi bi-instagram"></i>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url_to_share }}" target="_blank" class="btn">
					<i class="bi bi-threads"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/tweet?url={{ url_to_share }}" target="_blank" class="btn ">
					<i class="bi bi-twitter"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
